<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Example Mapper</title>
    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Example Mapping for Remote Teams" />
    <meta property="og:description" content="Take advantage of Example Mapping within your distributed team!" />
    <meta property="og:url" content="http://example-mapper.io/" />
    <meta property="og:site_name" content="Example Mapper" />
    <meta property="og:image" content="http://www.example-mapper.io/social-image.jpg" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Take advantage of Example Mapping within your distributed team!" />
    <meta name="twitter:title" content="Example Mapping for Remote Teams" />
    <meta name="twitter:image" content="http://www.example-mapper.io/social-image.jpg" />
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header class="site-title">
      <h1 class="site-title__main-title">
        <div class="card card--rule site-title__example-card">
          <svg class="card__background" width="254" height="156">
            <line x1="0" y1="24" x2="254" y2="24" class="card__headline"></line>
            <line x1="0" y1="36" x2="254" y2="36" class="card__line"></line>
            <line x1="0" y1="48" x2="254" y2="48" class="card__line"></line>
            <line x1="0" y1="60" x2="254" y2="60" class="card__line"></line>
            <line x1="0" y1="72" x2="254" y2="72" class="card__line"></line>
            <line x1="0" y1="84" x2="254" y2="84" class="card__line"></line>
            <line x1="0" y1="96" x2="254" y2="96" class="card__line"></line>
            <line x1="0" y1="108" x2="254" y2="108" class="card__line"></line>
            <line x1="0" y1="120" x2="254" y2="120" class="card__line"></line>
            <line x1="0" y1="132" x2="254" y2="132" class="card__line"></line>
            <line x1="0" y1="144" x2="254" y2="144" class="card__line"></line>
            <line x1="0" y1="156" x2="254" y2="156" class="card__line"></line>
          </svg>
          <div class="card__content">
            <p class="card__text card__text--title">Example</p>
          </div>
        </div>
        <div class="card card--example site-title__mapper-card">
          <svg class="card__background" width="254" height="156">
            <line x1="0" y1="24" x2="254" y2="24" class="card__headline"></line>
            <line x1="0" y1="36" x2="254" y2="36" class="card__line"></line>
            <line x1="0" y1="48" x2="254" y2="48" class="card__line"></line>
            <line x1="0" y1="60" x2="254" y2="60" class="card__line"></line>
            <line x1="0" y1="72" x2="254" y2="72" class="card__line"></line>
            <line x1="0" y1="84" x2="254" y2="84" class="card__line"></line>
            <line x1="0" y1="96" x2="254" y2="96" class="card__line"></line>
            <line x1="0" y1="108" x2="254" y2="108" class="card__line"></line>
            <line x1="0" y1="120" x2="254" y2="120" class="card__line"></line>
            <line x1="0" y1="132" x2="254" y2="132" class="card__line"></line>
            <line x1="0" y1="144" x2="254" y2="144" class="card__line"></line>
            <line x1="0" y1="156" x2="254" y2="156" class="card__line"></line>
          </svg>
          <div class="card__content">
            <p class="card__text card__text--title">Mapper</p>
          </div>
        </div>
      </h1>
      <h2 class="site-title__sub-title">Your stories start here!</h2>
    </header>

    <div class="introduction">
      <p>
        Example Mapping is a collaborative process used by <abbr>BDD</abbr>
        teams to discover the examples which describe a new feature.
        To learn more about Example Mapping, see Matt Wynne's introductory
        <a href="https://cucumber.io/blog/2015/12/08/example-mapping-introduction"
           target="_blank">blog post</a>.
      </p>
      <p>
        This site allows remote teams to take advantage of Example Mapping by
        providing a virtual Example Mapping workspace.
      </p>

      <p class="introduction__beta-notice">
        This site is in a very early beta state, so expect bugs and missing features.
        If you would like to report an issue or request a feature then please email
        <a href="mailto:feedback@example-mapper.io">feedback@example-mapper.io</a>
        or Tweet
        <a href="https://twitter.com/ExampleMapper" target="_blank">@ExampleMapper</a>.
      </p>
    </div>

    <div class="new-story">
    <form action="/" method="POST">
      <p>To start mapping, describe your story on the index card below and click
        <strong>Start Mapping</strong></p>

      <h3 class="new-story__title">What story would you like to map?</h3>

      <div class="new-story__card card card--story">
        <svg class="card__background" width="254" height="156">
          <line x1="0" y1="24" x2="254" y2="24" class="card__headline"></line>
          <line x1="0" y1="36" x2="254" y2="36" class="card__line"></line>
          <line x1="0" y1="48" x2="254" y2="48" class="card__line"></line>
          <line x1="0" y1="60" x2="254" y2="60" class="card__line"></line>
          <line x1="0" y1="72" x2="254" y2="72" class="card__line"></line>
          <line x1="0" y1="84" x2="254" y2="84" class="card__line"></line>
          <line x1="0" y1="96" x2="254" y2="96" class="card__line"></line>
          <line x1="0" y1="108" x2="254" y2="108" class="card__line"></line>
          <line x1="0" y1="120" x2="254" y2="120" class="card__line"></line>
          <line x1="0" y1="132" x2="254" y2="132" class="card__line"></line>
          <line x1="0" y1="144" x2="254" y2="144" class="card__line"></line>
          <line x1="0" y1="156" x2="254" y2="156" class="card__line"></line>
        </svg>
        <div class="card__content">
          <textarea class="card__input" name="story" autofocus></textarea>
        </div>
      </div>

      <button class="new-story__button">Start Mapping</button>
    </form>
  </body>
</html>
