<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Example Map</title>
    <style>
@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace');

html,head,body {
  padding:0;
  margin:0;
}

body {
  font-family: calibri, helvetica, arial, sans-serif;
  background-color: #c5c0c0;;
  background: url('wood.jpg');
}
.rules {
  display: flex;
  flex-direction: row;
}

.questions {
    position: absolute;
    top: -20px;
    right: -20px;
    background-color: rgba(128, 128, 128, 0.7);
    padding: 30px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-radius: 20px;
    box-shadow: #666 5px 5px 5px;
}

.add-button {
  width: 254px;
  height: 156px;
}

.card {
  border: solid 1px black;
  background-color: #ccf;
  box-shadow: 2px 2px 10px #888888;
  margin: 2px;
}

.card--story {
  background-color: #ffa;
}

.card--rule {
  background-color: #cdf;
}

.card--example {
  background-color: #cfd;
}

.card--question {
  background-color: #fcc;
}

.card--add {
  background-color: #eee;
}

.card--editing {
  background-color: #fff;
}

.card--saving {
  background-color: #ccc;
}

.card__headline {
  stroke: #d00;
  stroke-width: 1;
}

.card__line {
  stroke: #00d;
  stroke-width: 1;
}

.card__text {
  line-height: 24px;
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-family: 'Covered By Your Grace', cursive;
}
.card__input {
  width: 220px;
  height: 122px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-family: 'Covered By Your Grace', cursive;
  border: 0;
  background-color: transparent;
  resize: none;
}

textarea.card__input:focus {
    outline-width: 0;
}
    </style>
    <script src="app.js"></script>
  </head>
  <body>
    <script>Elm.App.fullscreen({backendUrl: 'ws://' + window.document.location.host + '/'})</script>
  </body>
</html>
