@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace');

$card-width: 254px;
$card-height: 152px;

$card-red: #fcc;
$card-yellow: #ffa;
$card-blue: #cdf;
$card-green: #cfd;

$card-padding: 10px;
$card-content-offset: 30px;

$card-line-height: 24px;
$card-font-size: 21px;
$card-font-family: 'Covered By Your Grace', cursive;

$panel-padding: 15px;

$card-z-index: 100;
$panel-z-index: 200;
$overlay-z-index: 110;

html, head, body {
  padding:0;
  margin:0;
  color: #003;
}

body {
  font-family: calibri, helvetica, arial, sans-serif;
  background-color: #dab88f;
  background: url('wood.jpg');
}

.workspace {
  margin-top: 80px;
}

.rules {
  display: flex;
  flex-direction: row;
}

.rule:last-child {
  padding-right: $card-width + (3 * $panel-padding);
}

.questions {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(128, 128, 128, 0.85);
    padding: $panel-padding;
    box-shadow: #666 5px 5px 5px;
    overflow-y: scroll;
    height: 100vh;
    z-index: $panel-z-index;

    &__title {
      text-align: center;
      color: #fff;
      font-size: 36px;
      padding: 0;
      margin: 0;
    }
}

.add-button {
  width: $card-width;
  height: $card-height;
}

.site-title {
  text-align: center;

  &__example-card {
    display: inline-block;
    transform: rotate(-5deg);
  }

  &__mapper-card {
    display: inline-block;
    transform: rotate(3deg);
    margin-left: -10px !important;
  }

  &__sub-title {
    font-family: $card-font-family;
  }
}

.new-story {
  text-align:center;

  &__title {
    font-family: $card-font-family;
  }

  &__card {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.introduction {
    background-color: rgba(255, 255, 255, 0.7);
    padding: $panel-padding;
    border-radius: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    &__beta-notice {
      color: #c00;
      font-weight: bold;
    }
}

.invite {
    position: fixed;
    top: -20px;
    left: -20px;
    background-color: rgba(128, 128, 128, 0.7);
    padding: 30px;
    padding-bottom: $panel-padding;
    padding-right: $panel-padding;
    border-radius: 20px;
    box-shadow: #666 5px 5px 5px;
    color: #fff;
    z-index: $panel-z-index;

    &__url {
      display: block;
      background-color: #fff;
      color: #00c;
      padding:5px;
      text-decoration: none;
      font-weight: bold;
    }
}

.card {
  background-color: #ccf;
  border-radius: 0;
  border: none;
  box-shadow: 3px 3px 10px #888888;
  cursor: pointer;
  height: $card-height;
  margin: 2px;
  position: relative;
  width: $card-width;
  z-index: $card-z-index;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: $card-z-index + 1;
  }

  &__content {
    position: absolute;
    top: $card-content-offset;
    left: $card-padding;
    z-index: $card-z-index + 2;
    overflow: hidden;
    width: $card-width - (2 * $card-padding);
    height: $card-height - $card-content-offset;
  }

  &--story {
    background-color: $card-yellow;
  }

  &--rule {
    background-color: $card-blue;
  }

  &--example {
    background-color: $card-green;
  }

  &--question {
    background-color: $card-red;
  }

  &--add {
    background-color: #eee;
  }

  &--editing {
    background-color: #fff;
  }

  &--saving {
    background-color: #ccc;
  }

  &__headline {
    stroke: #d00;
    stroke-width: 1;
  }

  &__line {
    stroke: #00d;
    stroke-width: 1;
  }

  &__toolbar {
    position: absolute;
    right: 0;
    top: 0;
    z-index: $card-z-index + 3;
  }

  &__toolbar-button {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    width: 26px;
    height: 26px;
    border: none;
    cursor: pointer;
    margin: 2px;
  }

  &__toolbar-button--delete {
    background-image: url('/glyphicons-17-bin.png')
  }

  &__toolbar-button--save {
    background-image: url('/glyphicons-194-ok-sign.png')
  }

  &__toolbar-button--cancel {
    background-image: url('/glyphicons-193-remove-sign.png')
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: $overlay-z-index;

    &__message {
      margin-top: 50px;
      color: #fff;
      font-weight: bold;
      text-align: center;
      padding: 10px;
    }

    &__buttons {
      text-align: center;
    }

    &__button {
      background-color: transparent;
      width: 26px;
      height: 26px;
      border: none;
      cursor: pointer;
      margin: 2px;
    }

    &__button--no {
      background-image: url('/glyphicons-193-remove-sign.png')
    }

    &__button--yes {
      background-image: url('/glyphicons-194-ok-sign.png')
    }
  }

  &__text {
    line-height: $card-line-height;
    padding: 0;
    margin: 0;
    font-size: $card-font-size;
    font-family: $card-font-family;

    &--title {
      padding-top: 10px;
      font-size: $card-font-size * 3;
      line-height: $card-font-size * 3;
    }
  }

  &__input {
    width: $card-width - (2 * $card-padding);
    height: $card-height - $card-content-offset;
    line-height: $card-line-height;
    padding: 0;
    margin: 0;
    font-size: $card-font-size;
    font-family: $card-font-family;
    border: 0;
    background-color: transparent;
    resize: none;
  }
}

.card .card__toolbar--mouseover {
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

.card:hover .card__toolbar--mouseover {
  opacity: 1;
}

textarea.card__input:focus {
    outline-width: 0;
}
