<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Example Mapper Workspace</title>
    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Example Mapping Workspace" />
    <meta property="og:description" content="Join the session." />
    <meta property="og:url" content="http://example-mapper.io/" />
    <meta property="og:site_name" content="Example Mapper" />
    <meta property="og:image" content="http://www.example-mapper.io/social-image.jpg" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Join the session." />
    <meta name="twitter:title" content="Example Mapping Workspace" />
    <meta name="twitter:image" content="http://www.example-mapper.io/social-image.jpg" />
    <link rel="stylesheet" href="/styles.css">
    <script src="/app.js"></script>
  </head>
  <body>
    <div class="invite">
      Invite others to collaborate in real-time with this URL:
      <a href="<%= @url %>" class="invite__url"><%= @url %></a>
    </div>
  <script>
Elm.App.fullscreen({
  backendUrl: '<%= @ws_url %>',
});
  </script>
  </body>
</html>
