<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Example Map</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="/app.js"></script>
  </head>
  <body>
    <div class="invite">
      Invite others to collaborate with this URL:
      <a href="<%= @url %>" class="invite__url"><%= @url %></a>
    </div>
  <script>
Elm.App.fullscreen({
  backendUrl: '<%= @ws_url %>',
});
  </script>
  </body>
</html>
